figure {
  /* outline: 2px solid red; */
  width: 900px;
  margin: 0;
  text-align: left;
}

figure img {
  width: 765px;
  margin: 25px 0 35px 0;
}

figcaption {
  font-family: 'open-sans', serif;
  margin: 5px auto;
  text-align: center;
}
