@import url('https://use.typekit.net/lao1bkz.css');

html {
  background-image: linear-gradient(to right top, #333333, #444444, #575757, #6a6a6a, #7d7d7d);
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

body {
  width: 960px;
  margin: 0 auto;
  /* border: 2px solid #ccc; */
  font-family: 'open-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: 'ff-market-web', sans-serif;
  font-size: 1.5rem;
  color: #ef6b30;
  line-height: 1.5rem;
}

h2 {
  font-size: 1rem;
  color: #BFBFBF;
  line-height: 1rem;
}

header {
  height: 92px;
  margin: 20px;
  text-align: center;
}

header img {
  width: 800px;
  height: 92px;
}

nav {
  padding: 20px 0 50px 0;
  font-family: 'open-sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

nav a {
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: #BFBFBF;
}

nav a:hover {
  color: #404040;
}

nav a:active {
  color: #808080;
}

main {
  margin: 25px 20px 0;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.2rem;
}

li {
  line-height: 1.5rem;
}

dt {
  line-height: 0;
}

a:link {
  color: #BFBFBF;
}

a:visited, a:active {
  color: #BFBFBF;
}

a:hover {
  color: #BFBFBF;
}

figcaption {
  font-family: 'oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  padding: 30px;
  text-align: center;
  font-size: .75rem;
}
