figure {
  /* outline: 2px solid red; */
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

figure img {
  outline: 2px solid #ef6b30;
  margin: 0px 10px 25px 10px;
  width: 275px;
  /* height: 191px; */
}
